<form class="example-form">
  <div class="row mt-5">
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Top N</mat-label>
        <input type="email" matInput [formControl]="topNFormControl" placeholder="top n number input">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="topNFormControl.hasError('pattern') && !topNFormControl.hasError('required')">
          Please enter a valid number
        </mat-error>
        <mat-error *ngIf="topNFormControl.hasError('required')">
          number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>State Code</mat-label>
        <input type="text" placeholder="Pick one" aria-label="stateCode" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-4">
      <section>
        <button mat-raised-button color="primary" (click)="findBtn()">Search</button>
      </section>
    </div>

    <!-- <mat-divider></mat-divider> -->
  </div>

</form>


<!-- Copyright 2022 Google LLC. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at https://angular.io/license -->
<div class="container-fluid py-3">
  <div class="row mt-5">
    <div class="col-6">
      <ng-container *ngIf="spinner">
        <mat-spinner></mat-spinner>
      </ng-container>

      <div id="mapChart"></div>
    </div>

  </div>


  <div>
    *Note
    <br>
    <section>
      <ul>
        <li>
          Here percentage of the plant's federal state = 'Plant annual net generation (MWh)' / 'State annual net
          generation (MWh)' * 100
        </li>
        <li>
          Initially we are seeing top {{topNumber}} records, which can be changed from the input at the top.
        </li>
        <li>
          Initially there is not state filter, can be applied from the autocomplete box.
        </li>
        <li>
          Highchatrs are being used to draw USA map and highcart api is used to fetch the USA states data.
        </li>

      </ul>

    </section>
  </div>

</div>